.paginator {
  display: flex;
  margin-top: 16px;
  div {
    color: #fff;
    margin: 8px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: #000;
    font-size: 12px;
    line-height: 24px;
    text-align: center;

    &.active {
      background-color: #3101f5;
    }
  }
}
